{% extends "base.html" %}
{% block title %}
    {% if account %}
        帐号激活成功
    {% else %}
        帐号激活失败
    {% endif %}
{% endblock %}
{% block main_content %}

    <div class="page-header">
        <h2 class="offset3">激活</h2>
    </div>

    {% if account %}
        <div class="row">
            <p>激活成功，欢迎{{ account }}加入！赶快<a href="/">登陆</a>来寻找乐子吧。</p>
        </div>
    {% else %}
        <div class="row">
            <div class="alert-message warning span10 offset2">
                <a class="close" href="#"> x </a>

                <p>激活码无效！请检查激活码正确或是否过期。</p>
            </div>
        </div> <!-- /row -->
        <div class="row">
            <div class="offset-one-third">
                <a href="/">返回首页</a>
            </div>
        </div>
    {% endif %}

{% endblock %}