<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>重置密码</h3>
</div>
<div class="modal-body">
    {% if form.errors %}
        <p class="alert alert-error">电子邮箱不正确，请重新输入</p>
    {% endif %}
    <form class="form-horizontal" id='reset_password_form'>
        <fieldset>
            {% for field in form %}
                <div class="control-group">
                    <label class="control-label">{{ field.label_tag }}</label>

                    <div class="controls">
                        {{ field }}
                    </div>
                </div>
            {% endfor %}
        </fieldset>
    </form>
</div>
<div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">关闭</a>
    <a onclick="reset_password()" class="btn btn-primary">重置密码</a>
</div>

<script type="text/javascript">
    function reset_password() {

        $('#login_modal .btn').attr('disabled', true);

        var email = $("#reset_password_form input[name='email']").val();

        $.ajax({
            data:{email:email},
            dataTypes:'html',
            success:function (data, textStatus, XMLHttpRequest) {
                try {
                    //console.log(data);
                    var result = jQuery.parseJSON(data);
                    $("#login_modal").empty().html(data);
                } catch (e) {
                    $("#login_modal").empty().html(data);
                }
                $('#login_modal .btn').attr('disabled', false);
            },
            type:'POST',
            url:'/accounts/password/reset/'
        })

        $("#login_modal .modal-body").first().empty().html("<div>........提交资料中，请稍候片刻，重置密码邮件会发往你的邮箱！</div>");

    }
    $("#login_modal input").first().focus();
</script>