<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>修改密码</h3>
</div>
<div class="modal-body">
    {% if form.errors %}
        <p class="alert alert-error">输入有误，请重新输入！</p>
    {% endif %}
    <form class="form-horizontal" id='reset_password_form'>
        <fieldset>
            {% for field in form %}
                <div class="control-group">
                    <label class="control-label">{{ field.label_tag }}</label>

                    <div class="controls">
                        {{ field }}
                    </div>
                </div>
            {% endfor %}
        </fieldset>
    </form>
</div>
<div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">关闭</a>
    <a onclick="reset_password()" class="btn btn-primary">修改密码</a>
</div>

<script type="text/javascript">
    function reset_password() {

        $('#password_reset_modal .btn').attr('disabled', true);

        var old_password = $("#reset_password_form input[name='old_password']").val();
        var password1 = $("#reset_password_form input[name='new_password1']").val();
        var password2 = $("#reset_password_form input[name='new_password2']").val();

        $.ajax({
            data:{old_password:old_password, new_password1:password1, new_password2:password2},
            dataTypes:'html',
            success:function (data, textStatus, XMLHttpRequest) {
                try {
                    //console.log(data);
                    var result = jQuery.parseJSON(data);
                    $("#password_reset_modal").empty().html(data);
                } catch (e) {
                    $("#password_reset_modal").empty().html(data);
                }
                $('#password_reset_modal .btn').attr('disabled', false);
            },
            type:'POST',
            url:'/accounts/password/change/'
        })

        $("#password_reset_modal .modal-body").first().empty().html("<div>........密码修改提交中，请稍候片刻！</div>");

    }
</script>