{% extends "base.html" %}
{% block title %}帐号激活成功{% endblock %}
{% block main_content %}
    <div class="span3">&nbsp;</div>
    <div class="well container" style="width: 400px">
        <form method="post" class="form-horizontal" id='reset_password_form'>
            {% csrf_token %}
            <h3>&nbsp;重置密码</h3>

            <p>&nbsp;</p>
            {% if form.errors %}
                <p class="alert alert-error">两次密码不一致，请重新输入！</p>
            {% endif %}
            <fieldset>
                {% for field in form %}
                    <div class="control-group">
                        <label class="control-label">{{ field.label_tag }}</label>

                        <div class="controls">
                            {{ field }}
                        </div>
                    </div>
                {% endfor %}
                <div style="text-align: right">
                    <input class="btn btn-primary" type="submit" value="重置密码"/>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}