{% extends "base.html" %}
{% block main_content %}
    <!--
    <div class="span3">
        <nav class="well sidebar-nav">
            <ul class="nav nav-list">
                <li class="nav-header">爱情动作电影</li>
                <li class="active"><a href="#">搜演员</a></li>
                <li><a href="#">我的关注</a></li>
                <li><a href="#">新片</a></li>
                <li><a href="#">最热点评</a></li>
                <li class="nav-header">骑行</li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li class="nav-header"></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
            </ul>
        </nav>
    </div>
    -->
    <!--/span-->
    <article class="container">
        <section class="hero-unit">
            <h1 style="margin-bottom: 20px">你好, 世界!</h1>

            <p style="text-indent:40px ">欢迎来到我们网站，这里是一群热爱艺术与技术的屌丝青年私密家园，我们崇尚开放，自由与文明，但又不想和五毛们争论，一切五毛请绕道！</p>

            <p style="margin-top: 50px"><a class="btn btn-primary btn-large">关于我们 &raquo;</a></p>
        </section>
        <div class="row-fluid">
            <section class="span4">
                <h2>爱情动作片</h2>

                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                    mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
                    magna mollis euismod. Donec sed odio dui. </p>

                <p><a class="btn" href="#">了解更多 &raquo;</a></p>
            </section>
            <!--/span-->
            <section class="span4">
                <h2>骑行旅游</h2>

                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                    mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
                    magna mollis euismod. Donec sed odio dui. </p>

                <p><a class="btn" href="#">了解更多 &raquo;</a></p>
            </section>
            <!--/span-->
            <section class="span4">
                <h2>艺术作品</h2>

                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                    mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
                    magna mollis euismod. Donec sed odio dui. </p>

                <p><a class="btn" href="#">了解更多 &raquo;</a></p>
            </section>
            <!--/span-->
        </div>
        <!--/row-->
        <!--
        <div class="row-fluid">
            <section class="span4">
                <h2>Heading</h2>

                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                    mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
                    magna mollis euismod. Donec sed odio dui. </p>

                <p><a class="btn" href="#">View details &raquo;</a></p>
            </section>
            <section class="span4">
                <h2>Heading</h2>

                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                    mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
                    magna mollis euismod. Donec sed odio dui. </p>

                <p><a class="btn" href="#">View details &raquo;</a></p>
            </section>
            <section class="span4">
                <h2>Heading</h2>

                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                    mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
                    magna mollis euismod. Donec sed odio dui. </p>

                <p><a class="btn" href="#">View details &raquo;</a></p>
            </section>
        </div>
        -->
        <!--/row-->
    </article>
    <!--/span-->
{% endblock %}
{% block footer_js %}
    <script>
        $('#nav_index').addClass('active');
    </script>
{% endblock %}